@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body, html{
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #16214A;
  font-family: 'Open Sans';
}

.logo-mre{
  order: 1;
  margin-left: 50px;
}


.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #16214A;
  margin-right: 20px;
  order: 2;
}

.nav-items a {
  text-decoration: none;
  color: #f4f4f4;
  padding: 35px 20px;
}

#logo_header{
  margin-top: center;

}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
  width: 100%;
  height: 520px;
  background-size: cover;
  background-position: center;
  background-image: url(/images/imagem_campo.jpg);
  background-repeat: no-repeat;
}

.logo-portal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.intro img{
  height: 50%;
}


.intro p {
  font-size: 20px;
  color: #f4f4f4;
  font-weight: bold;
  margin: 20px;
}

/*
.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}

.achievements .work .work-heading {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}
*/

.description{
  display: flex;
  align-items: center;
  font-family: 'Open Sans';
  padding: 40px 80px;
  border-top: 2px solid;

}

.description img{
  height: auto;
  width: 50%;
  max-width: 50%;
}

.description h2{
  font-size: 30px;
  color: #16214A;

}

.description p{
  font-size: 20px;
}


.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
  font-family: 'Open Sans';
}

.about-me img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-me-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.about-me-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

/* CSS for footer */
.content{
  min-height: 100%;
  margin-bottom: -50px;
}

.footer {
  height: relative;
  position: relative;
  padding: 20px 0;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #16214A;
  padding: 40px 80px;
}

.portal-footer p{
  color: #f4f4f4;
  font-weight: lighter;


}

.footer-logos{
  display: flexbox;
}